.keyWordsInputContainer{
    padding-left: 0 !important;
}
.kwInput{
    margin-left: 0 !important;
}
.keyWordsContainer{
    padding-left: 0 !important;
}
.btnAddKeyword{
    margin: 0 !important;
}
.keyWordCardsContainer{
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
}
.inputKeyword{
    margin-bottom: 0 !important;
}
.keyWordCard{
    margin: 3px 5px;
    display: inline-flex !important;
}
.keyWordCard .card-content div{
    display: flex;
    align-items: center;
}
.cancelKeyWordIcon{/*ovo radi centriranje ne znam ni ja kako*/
    margin-left: 10px !important;
    margin-top: 5px !important;
    color: rgb(238,110,115);
}

.card .card-content{
    padding: 8px !important;
}